@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #808080;
   
  }
  
  .orenge{
    color: #FEA301;
  }
  .skyblue{
    color: skyblue;
  }
.color-facility{
  color:#05D4DF;
}
.color-admission{
  color:#5D58EF;
}
.contact-btn{
  background-color: #FEA301;
}
.btn-primary{
  
  color: #FFFFFF;
  border-style: none;
  border-radius: 12px;
  font-weight: 600;
  padding: 10px 60px;
  font-size: 1.25rem;
  cursor: pointer;
  
}
  .display-flex{
    display: flex;
  }

  .main-container{
    max-width: 1250px;
    margin: 0 auto;
  }

/* NaVbar */
.nav-container{
  width: 100%;
  
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFF;
    position: relative;
  }
.navitems{
    list-style: none;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    
}
.nav-link{
    text-decoration: none;
    margin: 0 50px;
    gap: 32px;

}
.logo{
  align-items: center;
}
.nav-img{
  width: 65px;
  height: 65px;
}
.nav-title{
  font-weight: bold;
  font-size: 2rem;
  margin-left: 10px;
  
  
}

/* Banner */
.banner-container{
  margin: 12px;
  align-items: center;
  justify-content: space-between;
 
  
}
.banner{
  margin-right: 180px;
}

.banner-title{
 
  font-weight: 800px;
  font-size: 3.5rem;
}
.banner-description{
  font-weight: 300px;
  font-size: 1.25rem;

}
.banner-img{
  width: 100%;
 
}

.enroll-btn {
  background-color: black;
  
}
/* Hero Section */
.hero-section{ 
  background-image:  url(./../assets/bg.png), linear-gradient(to bottom,  #FFFFFF 45% , rgba(254, 161, 1, 0.232) 50% ) ; 
}

.remain-contianer{
  max-width: 1250px;
  margin: 0 auto;
}
/* Standerd Curriculum */

.curriculam-title{
  font-weight: bold;
  font-size:2.88rem;
  margin-top:60px ;
  margin-bottom: 80px;
  text-align: center;

}
.card-1{
  background-image: linear-gradient(to top,  #FFFFFF ,#def5ff7b);
  border: 1px solid #DEF5FF;
}
.card-2{
  background-image: linear-gradient(to top,  #FFFFFF ,#f7e7f7d9);
  border: 1px solid #FFF4DC;
}
.card-3{
  background-image: linear-gradient(to top,  #FFFFFF ,#f2e8ffe0);
  border: 1px solid #F2E8FF;
}
.card-item{
  margin: 10px 10px;
  text-align: center;
  padding: 40px 100px;
  border-radius: 19px;
  box-shadow: 0 8px 16px  rgba(0, 0, 0, 0.226);
  margin-right: 30px;
  
}
.read-more-btn{
  margin-top: 25px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;

}
.btn-1{
  color: #64C8FF;
}
.btn-2
{
  color: #F0AA00;
}
.btn-3{
  color: #8700FF;
}


.arrow-key{
  display: flex;
  margin: 80px auto ;
  justify-content: center;

}
.arrow-btn{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #F0AA00;
    padding: 10px 20px ;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    transition: background 0.3 ease ;

}
.arrow-btn:hover{
  background-color: #333;
}
.card-stories{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 19px;
}
#story-card-1{
     grid-row: span 2;
}
.stories-card{
 background-color: #FFFFFF;
 border: 1px solid #FFFFFF;
 
 
}
.card-radius{
  border-radius: 16px;
}
.img-radius{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.stories-title-2{
  align-items: center;
  margin-left: 38px;
 
}
.story-title
{
  font-size: 2.25rem;
  font-weight: 800;
  align-items: center;
}
.first-card{
  margin: 25px 90px 50px 50px ;
  
}
.first-card-des{

  padding-bottom: 15px;
  font-size: 1.25rem;
  
}
.story-img{
  width: 550px;
  height: 320px;
   
}
.story-img-2{
  width: 300px;
  height: 180px;
}
.date-btn-1{
  margin-top: -150px;
  margin-bottom:40px ;
  margin-left:40px; 
  border: 1px solid  ;
  border-style: none;
  padding: 18px 30px;
  border-radius: 50px;
  color: #FFFFFF;
 
}
.date-btn{
  margin-top: -65px;
  margin-bottom:35px ;
  margin-left:36px; 
  border: 1px solid  ;
  border-style: none;
  padding: 15px 29px;
  border-radius: 50px;
  color: #FFFFFF;
 
}

.date{
  background-color: #3CD8E8;
}
.date-2{
  background-color: #95B226;
}
.date-3{
  
    background-color: #5D58F0;
}

.View-all{
  display: flex;
  margin: 80px auto ;
  justify-content: center;

}
.footer-contain{
  padding: 110px 200px 190px 150px;
  justify-content: space-between;
  align-items: center;
  background-color: #01ACFD;
  color: #FFFFFF;
 
 
}
.footer-item{
   /* justify-content: space-between; */
  align-items: flex-start;
  gap:150px;
  width: 100%;

}

.footer-logo{
  align-items: center;
  gap: 10px;
}
.footer-title{
  font-weight: 800;
  font-size: 40px;

}
.footer-des{
  font-weight: 300;
  font-size: 1.5rem;
  max-width: 500px;
  
}

.footer-img{
  width: 85px;
  height: 85px;
  background-color: #FFFFFF;

}
ul{
 list-style: none;
 padding: 0px;
 margin: 0px;

}
.about-section .social-media{
  align-items: flex-start;

}

.about-title{
  font-weight: 800;
  font-size: 1.75rem;
}
.keep-title{
  font-weight: 800;
  font-size: 1.75rem;
}
 .footer-link li, .social-media li {
  margin: 15px 0;
 }
 
 .footer-link-itemli{
  font-weight: 400;
  font-size: 1.5rem;
 
 }
 .footer-link-itemli a{
    text-decoration: none;
    color: #FFFFFF;
 }
.social-media {
  gap:10px;
}
.social-media-img{
  width: 50px;
  height: 50px;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
 
}

.menu-icon i {
  
  color: black;
}

@media screen and (min-width:360px) and (max-width: 1024px) {
 
  .nav-link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
  }

  .nav-link ul{
    flex-direction: column;
  }

  .nav-link li {
    color: white;
    padding: 15px 0;
  }

  .menu-icon {
    display: block;
  }
  .menu-icon i {
    
    color: black;
  }

  .menu-icon.active + .nav-link {
    display: flex;
  }

  .nav-button {
    display: none;
  }
  .banner-container{
    display: flex;
    flex-direction:column-reverse;
  }
  .banner-img{
    width: 100%;
  }
  .banner{
    justify-items: center;
    margin: 0px;
    padding: 0px;
   
  }
  .banner-container{
    gap: 0px;
    padding: 0 10px;
   
  }
  .banner-title{
    font-size: 30px;
    text-align: center; 

  }
  .banner-description{
    
    text-align: center;
    padding: 0 20px;
    font-size: 15px;
  }
  
  .curriculam-card 
  { display: grid;
    grid-template-columns: repeat(1,1fr);

 
  }
  .arrow-btn{
    display: none;
  }
#story-card-1{
  display: none;
}
.card-stories{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
  
 .footer-contain{
    text-align: start;
    align-items: left;
    padding: 50px 20px;
    text-align: center;
   
  }
  .footer-logo{
    display: flex;
  }
 .footer-item{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  text-align: start;
  align-items: center;
  gap: 40px;
 }
 .footer-logo{
  flex-direction: row;
  gap:10px;
 }
 .footer-des{
  font-size: 1rem;
  max-width: 100%;
  align-items: center;
  padding: 0px;
 }
 .about-section, .social-media{
  align-items: center;
  margin: 0px;
  padding: 0px;
 }
 .about-section li , .social-media li{
 text-align: start;
 margin: 10px 0;
 
 }
 
 
}

@media screen and (min-width: 360px) and (max-width: 576px) {
   
  .nav-link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
  }

  .nav-link ul{
    flex-direction: column;
  }

  .nav-link li {
    color: white;
    padding: 15px 0;
  }

  .menu-icon {
    display: block;
  }

  .nav-button {
    display: none;
  }

  .menu-icon.active + .nav-link {
    display: flex;
  }
  .nav-title {
    font-size: 1.5rem;
  }

  .nav-img {
    width: 50px;
    height: 50px;
  }
  .nav-button{
    display:none;
  }
  .menu-icon {
    display: flex;
  }
  .card-stories{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #story-card-1{
    display: none;
  }
  .stories-card{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .story-img-2{
    width: 100%;
  }
  
  


}