@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
 .raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #808080;
   
  }
  
  .orenge{
    color: #FEA301;
  }
  .skyblue{
    color: skyblue;
  }
.color-facility{
  color:#05D4DF;
}
.color-admission{
  color:#5D58EF;
}
.contact-btn{
  background-color: #FEA301;
}
.btn-primary{
  
  color: #FFFFFF;
  border-style: none;
  border-radius: 12px;
  font-weight: 600;
  padding: 10px 60px;
  font-size: 1.25rem;
  
}
  .display-flex{
    display: flex;
  }

  .main-container{
    max-width: 1500px;
    margin: 0 auto;
  }

/* NaVbar */
.nav-container{
  width: 100%;
  
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFF;
    position: relative;
  }
.navitems{
    list-style: none;
    font-weight: 700;
    font-size: 1.25rem;
    cursor: pointer;
    
}
.nav-link{
    text-decoration: none;
    margin: 0 50px;
    gap: 32px;

}
.logo{
  align-items: center;
}
.nav-img{
  width: 65px;
  height: 65px;
}
.nav-title{
  font-weight: bold;
  font-size: 2rem;
  margin-left: 10px;
  
  
}

/* Banner */
.banner-container{
  margin: 12px;
  align-items: center;
  justify-content: space-between;
 
  
}
.banner{
  margin-right: 180px;
}

.banner-title{
 
  font-weight: 800px;
  font-size: 3.5rem;
}
.banner-description{
  font-weight: 300px;
  font-size: 1.25rem;

}
.banner-img{
  width: 100%;
 
}

.enroll-btn{
  background-color: black;
}
/* Hero Section */
.hero-section{
  background-image: url(./../assets/bg.png);
  /* background-image: linear-gradient(to top, #fea101be 40% ,#ffffff 100%),
  url(./../assets/bg.png) no-repeat; */

}
/* Standerd Curriculum */

.curriculam-title{
  font-weight: bold;
  font-size:2.88rem;
  margin-top:60px ;
  margin-bottom: 80px;
  text-align: center;

}
.card-1{
  background-image: linear-gradient(to top,  #FFFFFF ,#def5ff7b);
  border: 1px solid #DEF5FF;
}
.card-2{
  background-image: linear-gradient(to top,  #FFFFFF ,#f7e7f7d9);
  border: 1px solid #FFF4DC;
}
.card-3{
  background-image: linear-gradient(to top,  #FFFFFF ,#f2e8ffe0);
  border: 1px solid #F2E8FF;
}
.card-item{
  margin: 10px 10px;
  text-align: center;
  padding: 40px 100px;
  border-radius: 19px;
  box-shadow: 0 8px 16px  rgba(0, 0, 0, 0.226);
  margin-right: 30px;
  
}
.read-more-btn{
  margin-top: 25px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;

}
.btn-1{
  color: #64C8FF;
}
.btn-2
{
  color: #F0AA00;
}
.btn-3{
  color: #8700FF;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin: 20px 20px;
}

.menu-icon i {
  font-size: 30px;
  color: black;
}
.arrow-key{
  display: flex;
  margin: 80px auto ;
  justify-content: center;

}
.arrow-btn{
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #F0AA00;
    padding: 10px 20px ;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    margin: 10px;
    transition: background 0.3 ease ;

}
.card-stories{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 19px;
}
#story-card-1{
     grid-row: span 2;
}
.stories-card{
 background-color: orange;
 border: 1px solid #FFFFFF;
 
 
}
.card-radius{
  border-radius: 16px;
}
.img-radius{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.stories-title-2{
  align-items: center;
  margin-left: 38px;
 
 

}
.story-title
{
  font-size: 2.5rem;
  font-weight: 800;
  align-items: center;
}
.first-card{
  margin: 30px 100px 50px 45px ;
  
}
.first-card-des{

  padding-bottom: 38px;
  font-size: 1.25rem;
  
}
.story-img{
  width: 800px;
  height: 300px;
   
}
.story-img-2{
  width: 350px;
  height: 200px;
}
.date-btn-1{
  margin-top: -150px;
  margin-bottom:40px ;
  margin-left:40px; 
  border: 1px solid  ;
  border-style: none;
  padding: 18px 30px;
  border-radius: 50px;
  color: #FFFFFF;
 
}
.date-btn{
  margin-top: -65px;
  margin-bottom:40px ;
  margin-left:40px; 
  border: 1px solid  ;
  border-style: none;
  padding: 18px 30px;
  border-radius: 50px;
  color: #FFFFFF;
 
}

.date{
  background-color: #3CD8E8;
}
.date-2{
  background-color: #95B226;
}
.date-3{
  
    background-color: #5D58F0;
}

.View-all{
  display: flex;
  margin: 80px auto ;
  justify-content: center;

}
.footer-contain{
  margin-top: 60px;
  margin-bottom: 0px;
  padding:123px 141px;
  background-color: #01ACFD;
  color: #FFFFFF;
 
}

.footer-logo{
  align-items: center;
  gap: 10px;
}
.footer-title{
  font-weight: 800;
  font-size: 46px;

}
.footer-des{
  font-weight: 300;
  font-size: 1.25rem;
  margin-right:50px;
}

.footer-img{
  width: 85px;
  height: 85px;
  background-color: #FFFFFF;

}

@media screen and  (max-width: 1024px) {
  .navbar{
    padding: 0 20px;
  }

  .nav-link {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    text-align: center;
  }

  .nav-link li {
    color: white;
    padding: 15px 0;
  }

  .menu-icon  {
    display: block;
  }

  .nav-button {
    display: none;
  }
  .banner-container{
    display: flex;
    flex-direction:column-reverse;
  }
  .banner-img{
    width: 100%;
  }
  .banner{
    justify-items: center;
    margin: 0px;
    padding: 0px;
   
  }
  .banner-container{
    gap: 0px;
    padding: 0 10px;
   
  }
  .banner-title{
    font-size: 30px;
    text-align: center; 

  }
  .banner-description{
    
    text-align: center;
    padding: 0 20px;
    font-size: 15px;
  }
  
  .curriculam-card 
  { display: grid;
    grid-template-columns: repeat(1,1fr);

 
  }
  .arrow-btn{
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .menu-icon{
    display: block;
  }
  .nav-link.active{
    display: flex;
  }
  .nav-title {
    font-size: 1.5rem;
  }

  .nav-img {
    width: 50px;
    height: 50px;
  }
  .menu-icon {
    display: flex;
  }

}